<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>settings</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link
        rel="icon"
        href=
    "https://static.vecteezy.com/system/resources/previews/036/420/338/original/ai-generated-rainbow-stag-beetle-isolated-on-transparent-background-free-png.png"
        type="image/x-icon"
    />
    </head>
<body>



    <header >
        <div class="color">
        <div class="logo"><h1>GLEB BLOG SETTINGS<h1></div>

      <div class="Profile">
        <div style="display:grid;">
            
           
          
            <div><button onclick="goBack()">GoBack?</button></div>
            <div><button onclick="logout()" class="exit">logout</button></div>
        </div>
        <div style="text-align: center;">
            <div id="username"></div>
            
            <div class="image" ><a href="/userProfile<%=user.id%>/page1"><img style="object-fit: cover;" width="70px" height="70px" id="profile" ></a></div>
        </div>
      </div>
      
    </div>
    
    </header>

    

    <main>
        <div class="settingsBackground">
        <div class="settings" >
            <div>change login & username</div>
            
            
            <input id="newLogin">
            <br/>
            <button onclick="changeLogin()">sumbit</button>
            <hr>  

            <div>change password </div>
             <input class="password" type="password">
             <input class="password" type="password">
             <br/>
             <button onclick="changePassword()">sumbit</button>
            <hr> 
            
             new profile picture<br/>
             <input placeholder="its should be url" id="imgUrl"><br/>
             <button onclick="testUrl()">test your url</button>
             <button onclick="changeProfileImg()">send</button>
            <hr>


            <div>delete account</div>
            <input type="checkbox"> <button class="exit" onclick='alert("bruh, where did you go? I got a bit lazy, so there is no function to delete the account")'>SURE?</button>
        </div>
        </div>
    </main>



    <script>
       
          const getUser = ()=>
        {
            
                document.getElementById("username").innerText= '<%=user.login%>'
                document.getElementById("profile").src = '<%=user.imgUrl%>'

            
        }
        getUser()
        const logout=()=>{
            fetch("/logout",{
            method:"DELETE"
            
             }).then(answer=>{
            location.reload()
        })}

        const goBack=()=>{
            window.location.href="/main"
        }

        const changeLogin=()=>{
           const login = document.getElementById("newLogin").value


            if(login){
                fetch("/changeData",{
                    method:"PATCH",
                    headers:{"content-type":"application/json"},
                    body:JSON.stringify({
                        whatNeedChange:"login",
                        data:login
                    })})
                    .then(answer => answer.text())
                    .then(parsedAnswer => {
                            if (parsedAnswer){
                                
                                alert("success, now its gona logout, use your new login :>")
                                logout()
                            }else 
                            {alert("your login already taken by someone, tryOther")}
                        }
                    ).catch(err=>alert(err))
                }
            else{
                alert("bro, its empty")
            }
        }
        changePassword = ()=>{
            const password = document.getElementsByClassName("password")
            if(password[0].value==password[1].value && password[0].value){
                fetch("/changeData",{

                    method:"PATCH",
                    headers:{"content-type":"application/json"},
                    body:JSON.stringify({
                        whatNeedChange:"password",
                        data:password[0].value

                    })
                })
                .then(answer => answer.text())
                .then(response =>{
                    if (response){
                        alert("nice now it gona logout, try login again")
                        logout()
                    }
                    else{
                        alert("something goes wrong")
                    }
                }).catch(error=> console.log(alert))

            }else{
                alert("your pass empty or not same...")
            }

            
        }
        const testUrl=()=>{
            const url = document.getElementById("imgUrl").value
            document.getElementById("profile").src=url
        }
       const changeProfileImg = () =>{
        const url = document.getElementById("imgUrl").value
        if(url){
            fetch("/changeData",{
                method:"PATCH",
                headers:{"content-type":"application/json"},
                body:JSON.stringify({
                    whatNeedChange:"image",
                    data:url
                })
                
            }).then(answer=>answer.text())
                .then(answer=>{
                    answer ? location.reload() : alert("something goes wrong")
                })
                .catch(err => alert(err))
        }else{
            alert("your url empty")
        }
       }


    </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>